body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: grey;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}
input {
    padding: 10px;
    font-size: 16px;

}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

button.delete {
    background-color: #bf0c0c;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
